@page "/"


<SfButton @onclick="@OpenDialog">Open Dialog</SfButton>

<SfDialog Width="250px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header> Dialog </Header>
        <Content> This is a Dialog with button and primary button </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@OkClick" />
        <DialogButton Content="Cancel" OnClick="@CancelClick" />
    </DialogButtons>
    <span id="message">@ClickStatus</span>
</SfDialog>

@code {
    private bool IsVisible { get; set; } = true;

    private string ClickStatus { get; set; }

    private void OpenDialog()
    {
        this.IsVisible = true;
        this.ClickStatus = "";
    }

    private void CancelClick()
    {
        this.ClickStatus = "you have clicked Cancel";
        this.IsVisible = false;
    }
    private void OkClick()
    {
        this.ClickStatus = "you have clicked Ok";
        this.IsVisible = true;
    }
}
<style>
    #message {
        color: blue;
    }
</style>